* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(192, 192, 192, 0.623);
}

.versus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Team img {
    width: 200px;
    height: 200px;
}

.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background-color: rgb(255, 71, 230);
    width: 75px;
    height: 40px;
    border-radius: 50pc;
}

.identity {
    border: yellowgreen dotted 10px;
}

.ScoreBoard {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(174, 118, 230);
}

.ScoreBoard h3 {
    margin: 0;
}


/*followed along with Davey video*/